<form>
  <div class="card">
    <div class="card__body">
      <TextInput
        @value={{this.username}}
        @label="Username"
        data-test-username
        @icon="user"
      />
      <TextInput
        @type="password"
        @value={{this.password}}
        @label="Password"
        @icon="lock"
        data-test-password
      />
      <Button
        @submit={{true}}
        @icon="paper-plane"
        data-test-submit-button
        class="foo"
      >
        Sign In
      </Button>
    </div>
  </div>
  <p class="text-align-center">
    Dont have an account ? <LinkTo @route="sign-up">Sign Up</LinkTo>
  </p>
</form>
