<LinkTo @route="home" class="app-navbar__link">
  <FaIcon class="app-navbar__icon" @icon="home"/>
  <small class="app-navbar__text">
    Home
  </small>
</LinkTo>
<LinkTo @route="exercises.all" class="app-navbar__link">
  <FaIcon class="app-navbar__icon" @icon="dumbbell"/>
  <small class="app-navbar__text">
    Exercises
  </small>
</LinkTo>
<LinkTo @route="index" class="app-navbar__link">
  <FaIcon class="app-navbar__icon" @icon="medal"/>
  <small class="app-navbar__text">
    Goals
  </small>
</LinkTo>
<LinkTo @route="index" class="app-navbar__link">
  <span class="badge__container">
    <FaIcon class="app-navbar__icon" @icon="bell"/>
    <span class="badge__count">3</span>
  </span>
  <small class="app-navbar__text">
    Notifs
  </small>
</LinkTo>
<LinkTo @route="index" class="app-navbar__link">
  <FaIcon class="app-navbar__icon" @icon="user-friends"/>
  <small class="app-navbar__text">
    Network
  </small>
</LinkTo>
