html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
 margin: 0;
 // font-family: 'Gotham Pro Regular';
 font-family: 'Nunito', sans-serif;
 background-color: $app-bg-color;
}

img {
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}
