html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
 margin: 0;
 // font-family: 'Gotham Pro Regular';
 font-family: 'Nunito', sans-serif;
 background-color: $app-bg-color;
}

img {
  max-width: 100%;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.h3 {
  margin: 0;
  font-size: 1.2rem;
}

a {
  color: $text-color;
  text-decoration: none;
}

p {
  color: $text-color;
  margin-top: 0;
}
