$primary-color: #ff7675;
$app-bg-color: #f4f8f7;
$app-toolbar-bg-color: #20313b;
$app-toolbar-text-color: white;
$app-toolbar-height: 70px;
$app-navbar-width: 100px;
$app-navbar-bg-color: darken($app-toolbar-bg-color, 0%);
$app-navbar-text-color: gray;

$input-bg-color: #f4f8f7;

$page-container-max-width: 800px;
$page-container-width: 90%;
