html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
 font-family: 'Nunito', sans-serif;
 // font-family: 'Gotham Pro Regular';
 margin: 0;
}

video, img {
  max-width: 100%;
}

a {
  color: $text-color;
  text-decoration: none;
}

p {
  color: $text-color;
  margin-top: 0;
}

ul {
  padding-left: 0;
}

li {
  margin-left: 0;
  list-style-type: none;
}

// TODO: refactor
.request-sent:hover span {
  display: none;
}

.request-sent:hover:after {
  content: "Cancel Request"
}
