<span class="user-avatar">
  {{#if @user.profilePic}}
    <img src={{@user.profilePic}} alt="">
  {{else}}
    <FaIcon @icon="user-circle" @size={{ if @size @size "2x"}} class="user-avatar" ...attributes/>
  {{/if}}
  {{#if @user.isOnline}}
    <FaIcon
      class="user-avatar user-avatar__status-icon user-avatar__status-icon--online"
      @icon="circle"
    />
    {{else}}
    <FaIcon
      class="user-avatar user-avatar__status-icon user-avatar__status-icon--offline"
      @icon="circle"
    />
  {{/if}}
</span>
