<div class="checkbox" {{on 'click' this.toggleValue}}>
  <Icon
    @icon={{if this.checked "check-square" "square"}}
    @prefix="far" class="checkbox__icon"
  />
  <label class="checkbox__label">{{@label}}</label>
</div>
