<div class="box box--transparent">
  <div class="card-list">
    {{#each this.sortedPosts as |post|}}
      <Posts::Post @post={{post}} />
    {{else}}
      <ZeroStateMessage @message="No posts to show" @icon="newspaper" />
    {{/each}}
  </div>
</div>
