<div class="box box--transparent" {{did-insert this.addScrolledToBottomListener}}>
  <div class="card-list" >
    {{#each this.sortedPosts as |post|}}
      <Posts::Post @post={{post}} />
    {{/each}}
    {{#if this.noPosts}}
      <ZeroStateMessage @message="No posts to show" @icon="newspaper" />
    {{/if}}
  </div>
  {{#if this.isLoadingMorePosts}}
    <div class="spinner">
      <FaIcon @icon="spinner" data-test-spinner-icon/>
    </div>
  {{/if}}
</div>
