<div class="app-navbar">
  <LinkTo @route="home" class="app-navbar__link" data-test-home-link>
    <FaIcon class="app-navbar__icon" @icon="home" />
    <small class="app-navbar__text">
      Home
    </small>
  </LinkTo>
  <LinkTo @route="exercises" class="app-navbar__link" data-test-records-link>
    <FaIcon class="app-navbar__icon" @icon="dumbbell"/>
    <small class="app-navbar__text">
      Exercises
    </small>
  </LinkTo>
  <LinkTo @route="goals" class="app-navbar__link app-navbar__link--hide-on-mobile" data-test-goals-link>
    <FaIcon class="app-navbar__icon" @icon="medal" />
    <small class="app-navbar__text">
      Goals
    </small>
  </LinkTo>
  <LinkTo @route="workout.diary" class="app-navbar__link" data-test-goals-link>
    <FaIcon class="app-navbar__icon" @icon="running" />
    <small class="app-navbar__text">
      Workout
    </small>
  </LinkTo>
  <LinkTo @route="notifications" class="app-navbar__link app-navbar__link--hide-on-mobile" data-test-notifications-link>
    {{#if this.notifications.hasNewNotifications}}
      <span class="badge__container">
        <FaIcon class="app-navbar__icon" @icon="bell"/>
        <span class="badge">{{this.notifications.totalNew}}</span>
      </span>
    {{else}}
      <FaIcon class="app-navbar__icon" @icon="bell"/>
    {{/if}}
    <small class="app-navbar__text">
      Notifications
    </small>
  </LinkTo>
  <LinkTo @route="my-network" class="app-navbar__link" data-test-my-network-link>
    <FaIcon class="app-navbar__icon" @icon="users"/>
    <small class="app-navbar__text">
      Community
    </small>
  </LinkTo>
  <LinkTo @route="profile" class="app-navbar__link app-navbar__link--hide-on-mobile" data-test-my-network-link>
    <FaIcon class="app-navbar__icon" @icon="user"/>
    <small class="app-navbar__text">
      Profile
    </small>
  </LinkTo>
  <LinkTo @route="more" class="app-navbar__link app-navbar__link--hide-on-desktop" data-test-goals-link>
    <FaIcon class="app-navbar__icon" @icon="ellipsis-h"/>
    <small class="app-navbar__text">
      More
    </small>
  </LinkTo>
</div>
