{{!-- TODO: replace all instances of this component with form::field --}}
<div class="form-field {{if @errors "is-invalid"}}">
  {{#if @label}}
    <label class="form-field__label">
      {{@label}}
    </label>
  {{/if}}
  {{yield}}
  {{#if @errors}}
    <div class="form-field__errors">
      {{#each @errors as |error|}}
      <div>
        <FaIcon @icon="info-circle"/>
        <span>{{error.message}}</span>
      </div>
      {{/each}}
    </div>
  {{/if}}
</div>
