<div class="box box--with-margin box--transparent">
  <div class="new-post-link card card__body">
      <LinkTo @route="posts.new" >
      <div class="media media--align-center">
        <div class="media__asset ">
          <UserAvatar />
        </div>
        <div class="media__body">
          <div class="new-post-link__input">
            Post something...
          </div>
        </div>
      </div>
    </LinkTo>
  </div>
</div>
