<div class="card">
  <div class="card__body--small">
    <LinkTo @route="posts.new" >
    <div class="media">
      <div class="media__asset ">
        <UserAvatar />
      </div>
      <div class="media__body">
        <div class="post-something">
          Post something...
        </div>
      </div>
    </div>
  </LinkTo>
  </div>
</div>
