<div class="card">
  <div class="card__body">
    <form {{on "submit" this.createOrUpdatePost}}>
      <Textarea
        class="textarea"
        rows="5"
        placeholder="Say something..."
        autofocus="true"
        @value={{this.post.content}}
        maxlength={{1000}}
      />
      <Button @text="Post" @submit={{true}} />
    </form>
  </div>
</div>
