<div class="progress-circle c100 p{{@value}} c100--completed">
    <span>{{@value}}<span class="percent">%</span></span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
</div>
