<div class="progress-circle c100 p{{@value}} c100--completed">
    <span>{{@value}}<span class="percent">%</span></span>
    {{!-- <span><FaIcon @icon="medal" @size="2x" /></span> --}}
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
</div>
