<div class="card">
  <div class="card__body">
      <ExerciseSets
        @exerciseSets={{@workoutBlock.sets}}
        @onUpdateExerciseSet={{@onUpdateExerciseSet}}
        @onToggleExerciseSetCompleted={{@onToggleExerciseSetCompleted}}
      />
  </div>
</div>
