<FullScreenModal
  @closeOnClickOverlay={{false}}
>
  <Toolbar
    @title="Select an Exercise"
    @backRoute="workout.new"
  />
  <ul class="list">
    {{#each this.model.exercises as |exercise|}}
      <li
        {{on 'click' (fn selectExercise exercise)}}
        class="list__item"
      >
      {{exercise.name}} test
      </li>
    {{/each}}
  </ul>
</FullScreenModal>
