<FullScreenModal>
  <Toolbar
    @title="Edit Record"
    @backRoute="exercises.exercise.records.record"
    @backRouteModel={{@model}}
  />
  <div class="content-container">
    <LiftRecordForm @record={{@model}} @selectedExercise={{@model.exercise}} />
  </div>
</FullScreenModal>
