<PageOverlay @title="Add New Record">
  <div class="card">
    <div class="card__body">
      <div class="form-field">
        <label>Weight</label>
        <Input />
      </div>
      <div class="form-field">
        <label>Reps</label>
        <Input @value="" />
      </div>
      <div class="form-field">
        <button type="button" name="button">Submit</button>
      </div>
    </div>
  </div>
</PageOverlay>
