<PageOverlay>
  <Toolbar
    @backRoute="exercises.exercise.goals"
    @actions={{array
      (hash icon="edit" prefix="far" route="exercises.exercise.records.edit" model=model)
      (hash icon="trash-alt" prefix="far" route="index")
    }}
  >
  <div class="masthead">
    <div class="masthead__container">
      <h1>{{@model.exercise.name}}</h1>
      <p>{{@model.weightLifted}}kg for {{@model.reps}} Reps</p>
      <div class="record">
        <FaIcon @icon="medal" @size="3x" />
      </div>
    </div>
  </div>
</Toolbar>

  <PageContainer>
    <PageContainer::PrimaryContent>
    </PageContainer::PrimaryContent>
  </PageContainer>
</PageOverlay>
