<Toolbar @title={{@model.username}} @backRoute="index"/>
<div class="user-masthead">
  <div class="user-masthead__header">
    <div class="user-masthead__profile-pic">
      <ProfilePic @user={{@model}} class=""/>
      <h2>larfoley</h2>
    </div>
  </div>
</div>

<div class="box flex flex--space-around">
  <div class="circle">
    <div class="circle__content">100kgs</div>
  </div>
  <div class="circle">
    <div class="circle__content">100kgs</div>
  </div>
  <div class="circle">
    <div class="circle__content">100kgs</div>
  </div>
</div>
