.app-navbar {
  background-color: $app-navbar-bg-color;
  position: fixed;
  bottom: 0;
  display: flex;
  z-index: 200;
  color: $app-navbar-text-color;
  width: 100%;

  @media screen and (min-width: $navbar-breakpoint) {
    width: $app-navbar-width;
    top: 0;
    flex-direction: column;
  }

  &__link {
    font-size: 21px;
    height: 75px;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $app-navbar-text-color;
    // border-left: 4px solid $app-navbar-bg-color;
    // border-right: 4px solid $app-navbar-bg-color;

    &.active {
      color: white;

      @media screen and (min-width: $navbar-breakpoint) {
        border-left: 4px solid $primary-color;
      }
    }

    &:hover {
      color: white;
      background-color: lighten($app-navbar-bg-color, 5%);
    }

    @media screen and (min-width: $navbar-breakpoint) {
      flex: initial;
    }
  }

  &__text {
    margin-top: 3px;
    font-size: 12px;
  }
}

.app-navbar ~ .app-container {
  @media screen and (min-width: $navbar-breakpoint) {
    margin-left: $app-navbar-width;
  }
}
