.badge {
  display: inline-block;
  min-width: 1.5em;
  padding: .15em;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  background: tomato;
  color: #fefefe;
  position: absolute;
  left: 13px;
  top: -4px;

  &__container {
    position: relative;
    display: flex;
  }
}
