.badge {
  &__container {
    position: relative;
    display: flex;
  }

  &__count {
    position: absolute;
    font-size: 11px;
    top: -8px;
    right: 0px;
    padding: 3px 6px;
    border-radius: 50%;
    background: red;
    color: white;
  }
}
