.button {
  border-radius: 5px;
  border: none;
  transition: .3s;
  display: block;
  text-transform: capitalize;
  padding: .5em 1em;
  background-color: transparent;
  color: $text-color;
  font-weight: bold;
  font-family: inherit;
  font-size: .9em;
  text-align: center;
  border-radius: 50px;
  min-width: 100px;


  &--full-width {
    width: 100%;
  }

  &__icon {
    margin-right: .3em;
  }

  &:hover {
    cursor: pointer;
    background-color: darken(#f5f5f5, 5%);
  }
}

.text-button {
  @extend .button;

  color: $primary-color;
  background-color: transparent;
}

.outlined-button {
  @extend .button;

  color: $primary-color;
  background-color: transparent;
  border: 2px solid $primary-color;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.primary-button {
  @extend .button;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: white;
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 5%);
  }
}

.rounded-button {
  @extend .button;

  &:focus {
    outline: none;
  }

  border-radius: 50px;
}

.icon-button {
  @extend .button;

  &:focus {
    outline: none;
  }

  min-width: 0;
  padding: 0;
  width: 28px;
  height: 28px;

  border-radius: 50px;
}
