.card {
  background: #fff;
  border-radius: $card-border-radius;
  // box-shadow: 0 2px 0 rgba(0,0,0,0.06);
  box-shadow: $card-bod-shadow;
  margin-bottom: 1em;
  // &--with-bottom-margin {
  //   margin-bottom: 2em;
  // }

  &__body, &__footer, &__header {
    padding-left: 2em;
    padding-right: 2em;
  }

  &__footer, &__header {
    font-size: 15px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  &__header {
    // background-color: $primary-color;
    // color: white;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid $border-color;
  }

  &__body {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  &__footer {
    border-top: 1px solid $border-color;
  }

  &__footer--small {
    padding: 0.5em 1em;
  }

  &__title {
    font-size: 1.1rem;
    margin:  0;
  }

  &__sub-title {
    font-size: .8rem;
    margin:  0;
    color: $muted-text;
    font-weight: normal;
  }

}
