.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.06);
  margin: auto;

  &--with-bottom-margin {
    margin-bottom: 1em;
  }

  &__body {
    padding: 1.5em;
  }

  &__body--small {
    padding: 1em;
  }

  &__title {
    font-size: 1.1rem;
    margin:  0;
  }

  &__sub-title {
    font-size: .8rem;
    margin:  0;
    color: $muted-text;
    font-weight: normal;
  }

  &__footer {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #f5f5f5;
  }

  &__footer--small {
    padding: 1em;
  }
}
