.form-field {
  margin-bottom: 1.7em;
  font-size: .85em;

  &__label {
    color: #757575;
  }

  &.is-invlaid {
    label {
      color: $error-colors;
    }
  }

  &__errors {
    margin-top: 7px;
    color: $error-colors
  }
}
