.goal-card {

  &__title {
    margin: 0;
  }

  &__text {
    margin: 0;
  }

  &__footer {
    @extend .card__footer;
    display: flex;
    justify-content: space-between;

    .button, .chip {
      width: 100%;
    }

    @media screen and (min-width: $bp-small) {
      justify-content: flex-start;
      .button, .chip {
        width: auto;
      }
    }
  }

  &--completed {
    .goal-card__check {
      color: $success-color;
    }
  }
}
