.list {
  padding: 0;
  margin: 0;
  // @extend .card;

  &__item {
    padding: 1em;
    margin-left: 0;
    list-style: none;
    color: inherit;
    position: relative;
    align-items: center;
    background-color: white;

    &:hover {
      cursor: pointer;
      background-color: #f2f2f2;
    }

    &--link {
      padding: 0;

      a {
        display: block;
        padding: 1em;
        color: black;
      }
    }
  }
}
