.media {
  display: flex;

  &--align-center {
    // align-items: center;
  }
  align-items: center;

  &__asset {
    margin-right: .6em;
  }

  &__body {
    flex: 1;
  }

  &__title {
    font-size: 1em;
    color: black;
    margin-bottom: 0;
  }

  &__actions {
    align-self: baseline;
  }
}
img {
  width: 100%;
  vertical-align: middle;

}
