.tabs-menu {
  background: darken($primary-color, 7%);

  &__container {
    display: flex;
    margin: auto;
    width: $page-container-width;
    max-width: $page-container-max-width;
  }

  &__item {
    flex: 1;
    &:first-child .tabs-menu__link {
      padding-left: 0;
    }
  }

  &__link {
    color: white;
    padding: 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px solid darken($primary-color, 7%);

    &.active {
      border-bottom-color: white;
    }
  }
}
