.app-navbar {
  background-color: white;
  display: flex;
  width: 100%;

  @media screen and (min-width: $navbar-breakpoint) {
    flex-direction: column;
    position: static;
    border-top: none;
  }

  &__link {
    font-size: 19px;
    height: 75px;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    color: $muted-text;

    &--hide-on-mobile {
      display: none;
    }

    &.active {
      color: $primary-color;
      @media screen and (min-width: $navbar-breakpoint) {
      }
    }

    &:hover:not(.active) {
      background-color: lighten($primary-color, 40%);
      background-color: #eee;
    }

    @media screen and (min-width: $navbar-breakpoint) {
      display: grid;
      grid-template-columns: 30px 1fr;
      // flex: initial;
      // justify-content: flex-start;
      // flex-direction: row;
      border: none;
      margin: .3em .5em;
      border-radius: 50px;
      font-weight: bold;
      color: black;
      padding: .7em 1em;
      height: auto;
      flex: none;

      &--hide-on-desktop {
        display: none;
      }
    }
  }

  &__text {
    margin-top: 3px;
    font-size: 14px;
    font-size: 13px;
    font-weight: bold;

    @media screen and (min-width: $navbar-breakpoint) {
      // position: absolute;
      // left: 60px;
      // top: 7px;
      font-size: 1rem;
    }
  }

  &__icon {
    @media screen and (min-width: $navbar-breakpoint) {
      // color: $primary-color;
    }
  }
}

.app-navbar ~ .app-container {
  @media screen and (min-width: $navbar-breakpoint) {
    // margin-left: $app-navbar-width;
  }
}
