.box {
  background-color: white;
  padding: 1em;
  border-bottom: 1px solid $app-bg-color;
  border-top: 1px solid $app-bg-color;

  &--with-margin {
    margin: 1em 0;
  }

  &--with-bottom-margin {
    margin-bottom: 1em;
  }

  &--transparent {
    background: transparent;
    padding-top: 0;
    padding-bottom: 0; 
  }
}
