.chip {
  padding: .5em 1em;
  background-color: #eee;
  font-size: .9em;
  text-align: center;
  border-radius: 50px;
  font-weight: bold;

  &--primary {
    border: 2px solid $primary-color;
    background-color: $primary-color;
  }

  &--warning {
    border: 2px solid $warning-color;
    background-color: $warning-color;
  }

  &--danger {
    border: 2px solid $danger-color;
    background-color: $danger-color;
  }

  &--primary, &--warning, &--dnager {
    color: white;
  }
}
