.exercise-sets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  align-items: stretch;
  // font-weight: bold;
  margin-bottom: .5em;
  align-items: center;

  @media screen and (min-width: $mobile-breakpoint) {
    grid-template-columns: 50px 100px 110px 50px 90px 1fr;
  }

  &__set {
    display: contents;
    & > .exercise-sets__set-cell {
      // opacity: 0.5;
      // background-color:lighten($success-color, 45%);
      // color: white;
      // height: 50px;
      // line-height: 50px;
      // margin-bottom: 1em;
      align-self:  center;

      &:first-child {
        // border-radius: 5px 0 0 5px;
      }

      &:last-child {
        // border-radius: 0 5px 5px 0;
      }
    }
  }

  .exercise-sets__set-cell {
     text-align: center;
   }

  &__checkbox {
    background-color: $input-bg-color;
    border-radius: 5px;
    text-align: center;
    // position: relative;
    color: gray;
    width: 40px;
    height: 40px;
    padding: 0;
    min-width: auto;

    &--completed {
      background-color: $primary-color;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: $primary-color;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
