.floating-action-button {
  animation: fadein 1s;
  position: fixed;
  bottom: 110px;
  right: 1.5em;
  z-index: 2;

  .button {
    span {
      display: none;
    }
    min-width: inherit;
    text-align: center;
  }

  @media screen and (min-width: $mobile-breakpoint) {
    position: static;
    z-index: 1;

    .button span {
      display: inline;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    height: 50px;
    width: 50px;

    .button {
      padding: 0;
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
    }

    .button__icon {
      margin-right: 0;
    }

  }
}
