.icon {
  font-size: 1em;
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.95em;
  text-align: center;
  border-radius: 50px;

  &__wrapper {
    font-size: 17px;
  }
  // margin: 0 7px;
  // background-color: white;

  &:hover:not(&--disabled) {
    cursor: pointer;
    background-color: #eee;
  }

  &:active {
    background-color: lightgray;
  }

  &--primary:not(&--disabled) {
    color: $primary-color;
  }

  &--muted {
    color: $muted-text;
  }

  &--disabled {
    color: gray;
  }
}
