.link {
  text-transform: uppercase;
  color: $primary-color;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &--center {
    display: block;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
