.profile-pic {
  color: gainsboro;
  position: relative;
  display: inline-block;
  border: 3px solid white;
  border-radius: 150px;
  background-color: white;

  &__avatar {
    font-size: 8rem;
  }

  &__icon {
    border-radius: 50px;
    border: 5px solid white;
    position: absolute;
    top: 85px;
    font-size: 2rem;
    background-color: white;
    right: -2px;
    color: black;

    &:hover {
      cursor: pointer;
    }
  }

  &__image {
    border-radius: 100%;
    width: 134px;
    height: 134px;
  }
}
