// VARS
$circle-width: 0.09em;
$circle-width-hover: 0.07em;
$primary-color-blue: #30bae7;

.pie {
	position: absolute;
	border: $circle-width solid $primary-color;
	width: 1 - (2 * $circle-width);
	height: 1 - (2 * $circle-width);
	clip: rect(0em, 0.5em, 1em, 0em);
	border-radius: 50%;
	transform: rotate(0deg);
}

.pie-fill {
	transform: rotate(180deg);
}

.c100 {
	*, *:before, *:after {
	  box-sizing: content-box;
	}

	position: relative;
	font-size: 160px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	float: left;
	background-color: #dfe8ed;
  font-weight: bold;

	> span {
		position: absolute;
		width: 100%;
		z-index: 1;
		left: 0;
		top: 0;
		width: 5em;
		line-height: 5em;
		font-size: 0.2em;
		display: block;
		text-align: center;
		white-space: nowrap;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

    .percent {
      font-size: .6em;
      vertical-align: bottom;
    }
	}


	&:after {
		position: absolute;
		top: $circle-width;
		left: $circle-width;
		display: block;
		content: " ";
		border-radius: 50%;
		background-color: #ffffff;
		width: 1 - (2 * $circle-width);
		height: 1 - (2 * $circle-width);
		transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
	}

	.slice {
		position: absolute;
		width: 1em;
		height: 1em;
		clip: rect(0em, 1em, 1em, 0.5em);
	}

	.bar {
		@extend .pie;
	}

	@for $j from 51 through 100 {

		&.p#{$j} .slice {
			clip: rect(auto, auto, auto, auto);
		}

		&.p#{$j} .bar:after{
			@extend .pie-fill;
		}

		&.p#{$j} .fill{
			@extend .pie;
			@extend .pie-fill;
		}

	}

	@for $j from 1 through 100 {
		&.p#{$j} .bar {
			transform: rotate((360/100*$j) + deg);
		}
	}

	&:hover {
		cursor: default;

		> span {
			width: 3.33em;
			line-height: 3.33em;
			font-size: 0.3em;
		}

		&:after{
			top: $circle-width-hover;
			left: $circle-width-hover;
			width: 1 - (2 * $circle-width-hover);
			height: 1 - (2 * $circle-width-hover);
		}
	}

	&.green {
		.bar, .fill { border-color: $success-color !important;}
	}

}
