.text {
  color: $text-color;
  font-size: 1rem;

  &--muted {
    color: $muted-text;
  }

  &--center {
    text-align: center;
  }

  &--small {
    font-size: 0.8rem
  }

  &--success {
    color: $success-color;
  }

  &--primary {
    color: $primary-color;
  }

  &--warning {
    color: $warning-color;
  }

  &--danger {
    color: $danger-color;
  }

  &--no-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 250px;
    vertical-align: middle;
    display: inline-block;
  }

  &--bold {
    font-weight: bold;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
