.text {
  color: $text-color;
  font-size: 1rem;

  &--muted {
    color: $muted-text;
  }

  &--center {
    text-align: center;
  }

  &--small {
    font-size: 0.8rem
  }

  &--success {
    color: $success-color;
  }

  &--primary {
    color: $primary-color;
  }

  &--bold {
    font-weight: bold;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
