.toolbar {
  background-color: white;
  border-bottom: 1px solid #e6ecf0;

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 0 1.5em;
  }

  &__title {
    margin: 0;
    font-size: 1.4rem;
    padding: 1rem 0;
  }

  &__links {
    padding: 0.8rem 1rem;
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    margin-left: 1rem;
    color: $text-color;
  }

  &__link-text {
    font-weight: bold;
    color: $primary-color;
  }

  &__back-icon {
    font-size: 1.3rem;
  }

  &__back-icon--close {
    font-size: 1.3rem;
    display: none;
  }

  &__back-link {
    color: $primary-color;
    margin-right: .5em;
  }

  &__search {
    font-size: 13px;
  }

  .text-input__icon-container {
    flex-grow: 1;
  }
}
