.workout-program {
  &__add-session-button {
    @extend .card;
    border-style: dashed;
    border-color: $primary-color;
    background-color: $primary-color;
    border-radius: 0;
    width: 100%;
    height: 90px;
    background-color: white;
    font-size: 1.3em;

    &:focus {
      box-shadow: none
    }
  }

  &__add-exercise-button {
    // text-align: center;
    margin: 1em 0;

    .button {
      display: inline-block;
    }
  }

  &__header {
    @extend .box;
    padding: 2em 0 !important;
  }

  &__title {
    @extend .h1;
    text-align: center;
    color: $primary-color;
    line-height: 1;
    margin-bottom: .5em;
  }

  &__sub-title {
    text-align: center;
    color: $muted-text;
    font-size: .9rem;
  }

  &__progress {
    max-width: 500px;
    margin: auto;
  }

  &__progress-outer-bar {
    height: 1em;
    border-radius: 50px;
    background: #eee;
    margin: .25em 0;
  }

  &__progress-inner-bar {
    height: 100%;
    background: #ff7675;
    width: attr(data-progress);
    border-radius: 50px;

    @for $i from 0 through 100 {
      &--value-#{$i} {
        max-width: #{$i} + "%";
      }
    }
  }

  &__set-header {
    margin-bottom: .7em;
    font-weight: 600;
    font-size: 1.05em;
  }

  &__set-header-primary-label {
    border-right: 2px solid black;
    padding-right: .5em;
  }

  &__set-header-secondary-label {
    padding-left: .5em;
    color: $muted-text;
  }

  &__set-row {
    display: grid;
    grid-template-columns: 110px  110px 1fr;
    gap: 2px 1rem;
    align-items: center;

    // background-color: #f5f5f5;
    // color: white;
    border-radius: 5px;

    .text-input {
      background-color: white;
      text-align: left;
    }

    label {
      font-size: 14px;
    }
  }

  &__workout-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 20px;
    text-align: left;
    font-size: .8em;
  }

  &__workout-result-header {
    font-weight: bold;
  }

  &__workout-result-cell {
    border-bottom: 1px solid #eee;
    padding: 1.2em 5px;
    align-self: center;

    &--success {
      align-self: auto;
      color: $success-color;
    }

    &--failed {
      color: $primary-color;
    }
  }

  &__workout-result-completed {
    border-bottom: 1px solid #eee;
    padding: 1em 0;
  }
}

.program-navbar {
  position: sticky;
  top: 0;
  z-index: 1;

  &__action-bar{
    display: flex;
    justify-content: flex-end;
  }

  &__calendar {
    padding: 1.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.workout-template {
  &__exercise-sets {
    display: grid;
    grid-template-columns: 40px 90px auto;
    align-items: center;
    margin-bottom: 1em;
    row-gap: 1em;
  }

  &__set-action {
    display: flex;
    justify-content: flex-end;
  }
}
