<div class="card">
  {{#if @friendRequests.length}}
    <ul class="card__list" data-test-user-list>
      {{#each @friendRequests as |fr|}}
      <div class="card__list-item" data-test-user-card>
        <FriendRequests::FriendRequest @friendRequest={{fr}} />
      </div>
      {{/each}}
    </ul>
  {{/if}}
</div>
