{{#if @friendRequests.length}}
  <div class="card">
    <ul class="card__list" data-test-user-list>
      {{#each @friendRequests as |fr|}}
        <div class="card__list-item" data-test-user-card>
          <FriendRequests::FriendRequest @friendRequest={{fr}} />
        </div>
      {{/each}}
    </ul>
  </div>
{{else}}
  <ZeroStateMessage @message="You have not friend requests" @icon="users" />
{{/if}}
