<div class="app-toolbar">
  <div class="app-toolbar__container">
    <div class="app-toolbar__left">
      {{#if @backButtonLink}}
        <LinkTo @route={{@backButtonLink}} class="app-toolbar__item">
          <FaIcon @icon="arrow-left" />
        </LinkTo>
      {{/if}}
      <span class="app-toolbar__item app-toolbar__title">
        {{@title}}
      </span>
    </div>
    <div class="app-toolbar__right">
      {{yield}}
    </div>
  </div>
</div>
