<div class="app-toolbar__container">
  <div class="app-toolbar__left">
    {{#if this.showBackButton}}
      <FaIcon class="app-toolbar__item" @icon="arrow-left" @on={{"click" "goBack"}}/>
    {{/if}}
    <span class="app-toolbar__item app-toolbar__title">
      {{this.title}}
    </span>
  </div>
  <div class="app-toolbar__right">
    {{yield}}
  </div>
</div>
