<Toolbar
  @title="Excercises"
  @actions={{ array
    (hash icon="plus" route="exercises.new")
  }}
>
</Toolbar>
<div class="box box--with-margin">
  <InputField>
    <TextInput
    @placeholder="Search exercises..."
    @icon="search"
    />
  </InputField>
</div>
<ul class="list ">
  {{#each @model as |exercise|}}
  <li class="list__item list__item--link">
    <LinkTo @route="exercises.exercise" @model={{exercise}}>
      <div class="media">
        <div class="media__asset">
          <FaIcon @icon="dumbbell" />
        </div>
        <div class="media__body">
          {{capitalize exercise.name}}
        </div>
      </div>
    </LinkTo>
  </li>
  {{/each}}
</ul>
