<div class="box box--transparent box--with-margin">
  {{#each @workout.exercises as |workoutBlock index|}}
    <div class="h4">
      Exercise {{increment index}} - Squat
    </div>
    <div class="">
      <p>Dont leave anything left in the tank</p>
    </div>
    <WorkoutBlock
      @workoutBlock={{workoutBlock}}
      @onUpdateExerciseSet={{fn @onUpdateExerciseSet}}
      @onToggleExerciseSetCompleted={{fn @onToggleExerciseSetCompleted}}
    />
  {{/each}}
</div>
