<div class="content-container">
  <div class="content-container__section flex flex--flex-end">
    <FloatingActionButton @route="my-network.friends.find" @icon="user-plus" @text="Add Friend"/>
  </div>
  {{#if @model.length}}
    <Friends @friends={{@model}} />
  {{else}}
    <ZeroStateMessage @icon="users" @message="You have not yet added any friends" />
  {{/if}}
</div>
{{outlet}}
