<form>
  <div class="card">
    <div class="card__body">
      <div class="form-field">
        <label for="">Weight</label>
        <Input @value={{this.goal.weight}} />
      </div>
      <div class="form-field">
        <label for="">Reps</label>
        <Input value={{this.goal.reps}} />
      </div>
      <div class="form-field">
        <button type="submit">Add Goal</button>
      </div>
    </div>
  </div>
</form>
