<form>
  <div class="card">
    <div class="card__body">
      <div class="form-field">
        <label for="">Weight</label>
        {{input value=this.goal.weight}}
      </div>
      <div class="form-field">
        <label for="">Reps</label>
        {{input value=this.goal.reps}}
      </div>
      <div class="form-field">
        <button type="submit">Add Goal</button>
      </div>
    </div>
  </div>
</form>
