<div class="card">
  {{#each @friends as |friend|}}
    <div class="card__body">
      <Friends::Friend
        @friend={{friend}}
        @onRemoveFriend={{action this.removeFriend}}
      />
    </div>
  {{/each}}
</div>
