<div class="list">
  {{#each @friends as |friend|}}
    <div class="list__item">
      <Friends::Friend
        @friend={{friend}}
        @onRemoveFriend={{action this.removeFriend}}
      />
    </div>
  {{/each}}
</div>
