<Toolbar
  @title="Workout"
  @tabs={{ array
    (hash label="Diary" route="workout.diary")
    (hash label="My Programs" route="workout.my-programs")
    (hash label="History" route="workout.history")
  }}
/>
<div class="content-container">
  {{#each @model as |workoutHistory|}}
  <div class="card">
    <div class="card__body">
      <div class="h5">{{workoutHistory.workoutProgram.name}}</div>
    </div>
  </div>
  {{/each}}
</div>
