<div class="content-container">
  {{#each @model as |workoutHistory|}}
  <div class="card">
    <div class="card__body">
      <div class="h5">{{workoutHistory.workoutProgram.name}}</div>
      
    </div>
  </div>
  {{/each}}
</div>
