<div class="content-container">
  <div class="content-container__section">
    <Button
      @route="workout.new"
      @text="New Program"
      @primary={{true}}
      @icon="plus"
    />
  </div>
  {{#if @model}}
    <WorkoutProgramTemplate::List @workoutPrograms={{@model}} />
  {{else}}
    <ZeroStateMessage @message="You have not created any workout porgrams" @icon="clipboard-list"/>
  {{/if}}
</div>
{{outlet}}
