<div class="card exercise-link">
  <LinkTo
    class="exercise-link__link"
    @route="exercises.exercise.records"
    @model={{this.exercise.name}}
  >
    <h4 class="exercise-link__text">
      {{this.exercise.displayName}}
    </h4>
  </LinkTo>
</div>
