{{#if @notifications}}
  <div class="list">
    {{#each @notifications as |notif|}}
      <div class="list__item notification  {{if notif.isUnread "notification--is-unread"}}">
        <LinkTo
          @route="index"
        >
        <div class="media">
          <div class="media__asset">
            <UserAvatar @icon="user" />
          </div>
          <div class="media__body">
            <div class="">
              <strong>{{notif.from}}</strong>
               {{notif.text}}
            </div>
            <span class="notification__date">
              <FaIcon @icon="user-friends"/> {{format-date notif.createdAt}}
            </span>
          </div>
        </div>
      </LinkTo>
      </div>
    {{/each}}
  </div>
{{/if}}
