<PageOverlay
  @onClose={{action this.transitionToRoute "workout.new"}}
>
    <Toolbar
    @title="Select an Exercise"
    @backRoute="workout.new"
    />
    <PageContainer>
      <PageContainer::PrimaryContent>
        {{#each this.model as |exercise|}}
          <li
            {{action this.selectExercise exercise}}
            class="list__item"
          >
          {{exercise.name}}
          </li>
        {{/each}}
      </PageContainer::PrimaryContent>
  </PageContainer>
</PageOverlay>
