<div class="box box--with-margin box--transparent">
  <div class="flex flex--flex-end">
    <LinkTo class="button primary-button" @route="exercises.exercise.goals.new">
      <FaIcon @icon="plus" /> New Goal
    </LinkTo>
  </div>
</div>
{{outlet}}
