<div class="content-container">
  <div class="flex flex--flex-end">
    <FloatingActionButton
      @icon="plus"
      @text="New Goal"
      class="button primary-button"
      @route="exercises.exercise.goals.new"
    />
  </div>
  <GoalList @goals={{@model}} />
  {{outlet}}
</div>
