<div class="content-container">
  <div class="content-container__section flex flex--flex-end">
    <FloatingActionButton
    @text="New Record"
    @icon="plus"
    @route="exercises.exercise.records.new"
    />
  </div>
  <LiftRecords @records={{@model}} @recordPath="exercises.exercise.records.record" />
  {{outlet}}
</div>
