<div class="box box--with-margin box--transparent">
  <div class="flex flex--flex-end">
    <Button
      @primary={{true}}
      @text="New Record"
      @icon="plus"
      @route="exercises.exercise.records.new"
      />
  </div>
</div>
{{outlet}}
