<div class="header">
  <div class="header__actions">
    <LinkTo class="primary-button" @route="exercises.exercise.records.new">
      <FaIcon @icon="plus" />
      New Record
    </LinkTo>
  </div>
</div>

{{outlet}}
