<div class="post">
  <div class="post__header">
    <div class="left">
      <span>
        <img class="avatar" src={{this.avatar}} alt="avatar">
      </span>
    </div>
    <div class="middle">
      <span>
        <LinkTo @route="index" class="post__header-title">
          larfoley
        </LinkTo>
        <span class="post__header-subtitle">3 hours ago</span>
      </span>
    </div>
    <div class="right">
      <FaIcon class="s" @icon="ellipsis-v"/>
    </div>
  </div>
  <div class="post__body">
    <img src="https://images.unsplash.com/photo-1562886889-52933f35430b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="banner">
  </div>
</div>
