<div class="profile-pic">
  {{#if this.profilePic}}
    <img class="profile-pic__image" src={{this.profilePic}} alt="profile pic">
  {{else}}
    <FaIcon @icon="user-circle" @size={{ if @size @size "3x"}} class="profile-pic__avatar" ...attributes/>
  {{/if}}
  <FileUpload
    @name="avatar"
    @onfileadd={{fn this.setProfilePic}}
    @accept="image/*"
  >
    <FaIcon
      class="profile-pic__icon"
      @icon="camera"
    />
  </FileUpload>
</div>
