<Toolbar
  @title="Goals"
  @actions={{array
    (hash icon="plus" route="goals.new")
  }}
  @tabs={{ array
    (hash label="Due" route="goals.due")
    (hash label="Completed" route="goals.completed")
  }}
/>
<div class="content-container">
  {{outlet}}
</div>
