<AppNavbar />
<AppToolbar>
  <FaIcon
    role="button"
    class="app-toolbar__item"
    @icon="sign-out-alt"
    @click={{this.invalidateSession}}
    data-test-sign-out-button
  />
</AppToolbar>
<AppContainer>
  <PageContainer>
    
    <span>One Rep Maxes</span>
    <div class="pb-cards">
      <div class="pb-card pb-card--squat">
        <small>Squat </small>
        <div class="pb-card__weight">
          120kg
          drop
        </div>
      </div>
      <div class="pb-card pb-card--bench">
        <small>Bench</small>
        <div class="pb-card__weight">
          70kg
        </div>
      </div>
      <div class="pb-card pb-card--deadlift">
        <small>Deadlift</small>
        <div class="pb-card__weight">
          200kg
        </div>
      </div>
    </div>

    <Post @avatar="https://i.pravatar.cc/400?img=34" />
    <Post @avatar="https://i.pravatar.cc/400?img=35" />
    <Post @avatar="https://i.pravatar.cc/400?img=36" />
  </PageContainer>
</AppContainer>
