
{{!-- <Toolbar @title="Home" />
<div class="header">
  <h2 class="header__title">Personal Bests</h2>
  <ViewAllLink @route="index" />
</div>
<LiftRecords @records={{@model.personalBests}} @recordPath="records.record" />

<div class="section">
  <div class="header">
    <h2 class="header__title">Goals</h2>
    <ViewAllLink @route="index" />
  </div>
  <Goals @goals={{@model.goals}} />
</div>

<NewPostLink />
<Posts @posts={{@model.posts}} /> --}}
<Toolbar @title="Home" />
<div class="content-container">
  <div class="content-container__section">
    <h2 class="h4">Active Goals</h2>
    <Goals @goals={{@model.goals}} />
  </div>
  <div class="content-container__section">
    <h2 class="h4">Recent Personal Bests</h2>
  </div>
  <div class="content-container__section">
    <h2 class="h4">Current Workout Program</h2>
  </div>
</div>
