
<Toolbar @title="Home" />
<div class="header">
  <h2 class="header__title">Personal Bests</h2>
  <ViewAllLink @route="index" />
</div>
<LiftRecords @records={{@model.personalBests}} @recordPath="records.record" />

<div class="section">
  <div class="header">
    <h2 class="header__title">Goals</h2>
    <ViewAllLink @route="index" />
  </div>
  <Goals @goals={{@model.goals}} />
</div>

<NewPostLink />
<Posts @posts={{@model.posts}} />
