<FullScreenModal>
  <Toolbar @title="Menu" />
  <div class="content-container">
    <div class="card">
      <div class="card__body">
        <div class="card__list">
          <div class="card__list-item">
            <LinkTo
            @route="profile"
            >
            <div class="media">
              <div class="media__asset">
                <FaIcon @icon="user" />
              </div>
              <div class="media__body">
                Profile
              </div>
            </div>
          </LinkTo>
        </div>
        <div class="card__list-item">
          <LinkTo
          @route="goals"
          >
          <div class="media">
            <div class="media__asset">
              <FaIcon @icon="bell" />
            </div>
            <div class="media__body">
              Notifications
            </div>
          </div>
        </LinkTo>
      </div>
      <div class="card__list-item">
        <LinkTo
        @route="sign-out"
        >
        <div class="media">
          <div class="media__asset">
            <FaIcon @icon="sign-out-alt" />
          </div>
          <div class="media__body">
            Sign out
          </div>
        </div>
      </LinkTo>
    </div>
  </div>
      </div>
    </div>
  </div>
</FullScreenModal>
